<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.71487037117-cjeshkm6vrrm9u20h89uf882f9pe4jid</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>71487037117-cjeshkm6vrrm9u20h89uf882f9pe4jid.apps.googleusercontent.com</string>
</dict>
</plist>
